# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Rust
target/
**/*.rs.bk

# C++
*.o
*.a
*.so
*.exe

# Java
*.class
*.jar

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# LaTeX temporary files
*.aux
*.log
*.dvi
*.pdf
*.fls
*.fdb_latexmk
*.synctex.gz

# Node.js
node_modules/

.serena/
